#header .language-switcher {
	top: 4px;
	right: -40px;
	width: 64px;
	position: absolute;
	font-family: "Gotham Rounded A", "Gotham Rounded B", sans-serif;
	text-transform: uppercase;
}

.language-switcher .stretchy-nav-bg {
	position: absolute;
	z-index: 1;
	top: 0px;
	right: 0;
	width: 64px;
	height: 28px;
	border-radius: 14px;
	background: #333333;
	-webkit-transition: height 0.2s;
	-moz-transition: height 0.2s;
	transition: height 0.2s;
}

.language-switcher-trigger {

	position: absolute;
	z-index: 3;
	top: 0;
	left: 0;
	text-align: center;
	line-height: 28px;
	color: #ffffff !important;
	height: 28px;
	width: 64px;
	font-size: 12px;
	border-radius: 50%;
	overflow: hidden;
	white-space: nowrap;
	color: white;
	text-decoration: none;

	&:hover {
		color: white;
		text-decoration: none;
	}

	> span {
		position: absolute;
		width: 16px;
		height: 2px;
		background-color: #ffffff;
		left: 50%;
		top: 50%;
		bottom: auto;
		right: auto;
		-webkit-transition: background-color 0.2s;
		-moz-transition: background-color 0.2s;
		transition: background-color 0.2s;
	}

	img.lang-icon {
		margin-right: 4px !important;
		margin-top: -1px !important;

	}

}

.language-switcher-trigger span::after, .language-switcher-trigger span::before {
	position: absolute;
	width: 16px;
	height: 2px;
	background-color: #ffffff;
}

.language-switcher-trigger span span {
	content: "";
	top: 0;
	left: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.2s;
	-moz-transition: -moz-transform 0.2s;
	transition: transform 0.2s;
}

.language-switcher-trigger span::before {
	content: "";
	top: 0;
	left: 0;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transition: -webkit-transform 0.2s;
	-moz-transition: -moz-transform 0.2s;
	transition: transform 0.2s;
	-webkit-transform: translateY(-6px);
	-moz-transform: translateY(-6px);
	-ms-transform: translateY(-6px);
	-o-transform: translateY(-6px);
	transform: translateY(-6px);
}

.language-switcher-trigger span span {

	-webkit-transform: translateY(6px);
	-moz-transform: translateY(6px);
	-ms-transform: translateY(6px);
	-o-transform: translateY(6px);
	transform: translateY(6px);

}

.nav-is-visible .language-switcher-trigger span {
	background-color: transparent;
}

.nav-is-visible .language-switcher-trigger span::before {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.nav-is-visible .language-switcher-trigger span span {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.language-switcher {

	width: 64px;

	ul {

		position: relative;
		z-index: 2;
		padding: 28px 0 0;
		visibility: hidden;
		-webkit-transition: visibility 0.3s;
		-moz-transition: visibility 0.3s;
		transition: visibility 0.3s;
		text-align: center;
		margin-bottom: 6px;

		li {
			list-style-type: none;
			display: block;
			text-align: left !important;
			margin-left: 11px !important;

			span {

				display: inline-block !important;
				width: auto !important;
				height: auto !important;
				position: relative !important;

			}

		}

		a {
			position: relative;
			display: inline-block;
			height: 28px;
			line-height: 28px;
			color: rgba(255, 255, 255, 0.7);
			font-size: 12px;
			-webkit-transition: color 0.2s;
			-moz-transition: color 0.2s;
			transition: color 0.2s;

			&:before {

				content: "";
				position: absolute;
				width: 3px;
				height: 16px;
				top: 50%;
				right: 40px;
				-webkit-transform: translateX(3px) translateY(-50%) scaleY(0);
				-moz-transform: translateX(3px) translateY(-50%) scaleY(0);
				-ms-transform: translateX(3px) translateY(-50%) scaleY(0);
				-o-transform: translateX(3px) translateY(-50%) scaleY(0);
				transform: translateX(3px) translateY(-50%) scaleY(0);
				background-color: #ffffff;

			}

			span {

				position: absolute;
				top: 50%;
				width: 100%;
				font-size: 12px;
				-webkit-transform: translateY(-50%) scale(0);
				-moz-transform: translateY(-50%) scale(0);
				-ms-transform: translateY(-50%) scale(0);
				-o-transform: translateY(-50%) scale(0);
				transform: translateY(-50%) scale(0);
				opacity: 0.6;

			}

		}

	}

	img.lang-icon {
		display: inline-block !important;
		margin-right: 8px !important;
		margin-top: -1px !important;
		vertical-align: middle !important;
	}

}

.language-switcher ul span {
	display: block;
	opacity: 0;
}

.language-switcher.nav-is-visible {

	.stretchy-nav-bg {

		height: 100%;
		background: white !important;
		border: 1px solid #333333 !important;

	}

	ul {

		visibility: visible;
		width: 64px !important;

		a span {

			-webkit-transform: translateY(-50%) scale(1);
			-moz-transform: translateY(-50%) scale(1);
			-ms-transform: translateY(-50%) scale(1);
			-o-transform: translateY(-50%) scale(1);
			transform: translateY(-50%) scale(1);
			-webkit-animation: scaleIn 0.15s backwards;
			-moz-animation: scaleIn 0.15s backwards;
			animation: scaleIn 0.15s backwards;
			-webkit-transition: opacity 0.2s;
			-moz-transition: opacity 0.2s;
			transition: opacity 0.2s;

		}

		a.active {

			color: #ffffff;

			&:before {

				-webkit-transform: translateX(3px) translateY(-50%) scaleY(1);
				-moz-transform: translateX(3px) translateY(-50%) scaleY(1);
				-ms-transform: translateX(3px) translateY(-50%) scaleY(1);
				-o-transform: translateX(3px) translateY(-50%) scaleY(1);
				transform: translateX(3px) translateY(-50%) scaleY(1);
				-webkit-transition: -webkit-transform 0.15s 0.3s;
				-moz-transition: -moz-transform 0.15s 0.3s;
				transition: transform 0.15s 0.3s;

			}

			span {
				opacity: 1;
			}

		}

	}

	a.language-switcher-trigger {
		color: #333333 !important;
	}

	ul li span {
		color: #333333 !important;
	}

}

.language-switcher.nav-is-visible ul span {

	opacity: 1;
	-webkit-animation: slideIn 0.15s backwards;
	-moz-animation: slideIn 0.15s backwards;
	animation: slideIn 0.15s backwards;
	-webkit-transition: -webkit-transform 0.2s;
	-moz-transition: -moz-transform 0.2s;
	transition: transform 0.2s;

}

.language-switcher.nav-is-visible ul a:hover {

	color: #ffffff;

	span {
		opacity: 1;
	}

}

.language-switcher.nav-is-visible ul li:first-of-type a::after, .language-switcher.nav-is-visible ul li:first-of-type span {
	-webkit-animation-delay: 0.1s;
	-moz-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

.language-switcher.nav-is-visible ul li:nth-of-type(2) a::after, .language-switcher.nav-is-visible ul li:nth-of-type(2) span {
	-webkit-animation-delay: 0.15s;
	-moz-animation-delay: 0.15s;
	animation-delay: 0.15s;
}

.language-switcher.nav-is-visible ul li:nth-of-type(3) a::after, .language-switcher.nav-is-visible ul li:nth-of-type(3) span {
	-webkit-animation-delay: 0.25s;
	-moz-animation-delay: 0.25s;
	animation-delay: 0.25s;
}

.language-switcher.nav-is-visible ul li:nth-of-type(4) a::after, .language-switcher.nav-is-visible ul li:nth-of-type(4) span {
	-webkit-animation-delay: 0.3s;
	-moz-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

.language-switcher.nav-is-visible ul li:nth-of-type(5) a::after, .language-switcher.nav-is-visible ul li:nth-of-type(5) span {
	-webkit-animation-delay: 0.35s;
	-moz-animation-delay: 0.35s;
	animation-delay: 0.35s;
}

@media screen and (max-width: 1200px) {

	#header .language-switcher {

		top: 24px;
		right: 5px;

	}

}

@media screen and (max-width: 700px) {

	#header .top .top-nav {

		.language-switcher-wrap {

			z-index: 150;
			height: 28px;
			width: 64px;
			margin-left: 8px;
			margin-right: 8px;

		}

		.language-switcher {

			top: 0px;
			left: 0px;

		}

	}

}
